{% extends 'base.html.twig' %}
{% block body %}
<div class="messages">
    {% for message in messages %}
        <p>{{ message.created|date("d/m/Y G:i:s", 'Europe/Kiev') }} {{ message.user.name }} {{ message.text }}</p>
    {% endfor %}
</div>
{{ form(messageForm) }}
    You are logged as {{ user.name }}.
{% endblock %}
